*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 20px;
}
body{
   background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../img/background@1X.png);
   background-repeat: no-repeat;
   background-size: 100% 950px;
   color: #fff; 
   font-family: Courier, Verdana;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
header {
    margin: 0 auto;
    width: 72%;
    
}
.box{
    display: flex;
    flex-direction:row;
    margin-top: 30px;
}
.logotip{
    background-image: url(../img/logo@1X.png);
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    margin-top: 10px;
}
.logot{
    display: flex;
    flex-direction: row;
}

.logotip img:hover{
    background-image: url(../img/logo@1X-2.png);
    background-repeat: no-repeat;
    color: #f26522;
    cursor: pointer;
}
.logot:hover .logotip {
    background-image: url(../img/logo@1X-2.png);
    background-repeat: no-repeat;
    color: #f26522;
    cursor: pointer;
}
.logo:hover{
   color: #f26522;
   cursor: pointer;
}
.logot:hover .logo{
    color: #f26522;
    
}
.contact{
    font-size: 1rem;
    margin-left: 56%;
    text-align: right;
    
}
.logo,.contact a{
    color: white;
}
.contact a:hover{
    color: #f26522;
}
.milan{
    text-transform: uppercase;
    margin-left: 6%; 
    font-size: 1.9rem;
    font-weight: 800; 
}
.holidays{
    font-size: .9rem;
    text-transform: uppercase;
    margin-left: 6%;
}
.logo a{
    color: white;
}
main{
 margin: 0 auto;
 width: 80%;
}
.container{
    position: relative;
    margin-left: 5%;
}
.box1{
    margin-top: 48px;
    
}
.item1 {
    width: 307px;
    display:inline-block;
}
.item2 {
    width: 307px;
    margin-left: 4%;
    display:inline-block;
}
.item3 {
    width: 307px;
    margin-left: 4%;
    display:inline-block;
}
.img1 {
    background-image: url(../img/Layer\ 21@1X.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 200px;
    position: relative;
    box-shadow: 0px -2px 1px 2px rgb(255, 255, 255);
}
.img2 {
    background-image: url(../img/Layer\ 22@1X.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 200px;
    position: relative;
    box-shadow: 0px -2px 1px 2px rgb(255, 255, 255);
}

.img3 {
    background-image: url(../img/Layer\ 23@1X.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 200px;
    position: relative;
    box-shadow: 0px -2px 1px 2px rgb(255, 255, 255);
}
.content {
    opacity: 0;
    box-sizing: border-box;
    display: inline-block;
    position: absolute;
    margin-top: 146px;
    width: 307px;
    background-color: #f26522;
    padding: 11px 20px;
    font-size: 0.5rem;
    color: white;
    transition: all 0.7s;
}
.details {
    position: absolute;
    right: 15px;
    bottom: 10px;
    font-size: .7rem;
}
.price {
    font-size: 0.9rem;
}
.text1 {
    position: absolute;
    padding-top: 210px;
    padding-left: 80px;
    width: max-content;
    color: white;
    font-size: .9rem;
    text-align: center;
}
.text2 {
    position: absolute;
    padding-top: 210px;
    padding-left: 55px;
    width: max-content;
    color: white;
    font-size: .9rem;
    text-align: center;
}
.text3 {
    position: absolute;
    padding-top: 210px;
    padding-left: 70px;
    width: max-content;
    color: white;
    font-size: .9rem;
    text-align: center;
}

.text1:hover {
    color: #f26522;
}

.text2:hover {
    color: #f26522;
}

.text3:hover {
    color: #f26522;
}

.item1:hover .content {
    opacity: 1;
}

.item2:hover .content {
    opacity: 1;
}

.item3:hover .content {
    opacity: 1;
}
.box2{
    margin-top: 10%;
   }
.item4{
    width: 307px;
    display: inline-block;
}
.item5{
    width: 307px;
    margin-left: 4%;
    display: inline-block;
}
.item6{
    width: 307px;
    margin-left: 4%;
    display: inline-block;
}
.img4{
    background-image: url(../img/Layer\ 24@1X.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 200px;
    position: relative;
    box-shadow: 0px -2px 1px 2px rgb(255, 255, 255);
}
.img5{
    background-image: url(../img/Layer\ 26@1X.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 200px;
    position: relative;
    box-shadow: 0px -2px 1px 2px rgb(255, 255, 255);
}
.img6{
    background-image: url(../img/Layer\ 25@1X.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 201px;
    position: relative;
    box-shadow: 0px -2px 1px 2px rgb(255, 255, 255);
}

.text4 {
    position: absolute;
    padding-top: 210px;
    padding-left: 74px;
    width: max-content;
    color: white;
    font-size: .9rem;
    text-align: center;
}

.text5 {
    position: absolute;
    padding-top: 215px;
    padding-left: 63px;
    width: max-content;
    color: white;
    font-size: .9rem;
    text-align: center;
}
.text6 {
    position: absolute;
    padding-top: 210px;
    padding-left: 87px;
    width: max-content;
    color: white;
    font-size: .9rem;
    text-align: center;
}
.text4:hover {
    color: #f26522;
}

.text5:hover {
    color: #f26522;
}

.text6:hover {
    color: #f26522;
}
.item4:hover .content {
    opacity: 1;
}

.item5:hover .content {
    opacity: 1;
}

.item6:hover .content {
    opacity: 1;
}
.footer{
    position: absolute;
    display: inline-block;
    padding-top:7%;
    padding-left: 29%;
    font-weight: 400;
    font-size:0.8rem
}

