:root{
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    color: #354657;
    font-weight: 700;
}
a{
    text-decoration: none;
    color: #354657;
}
.container{
    margin: 0 auto;
    width: 80%;
}
.container .title{
    font-size: 1.5rem;
    border-bottom: 1px solid #E2E2E2;
    padding-bottom: .7rem ;
    margin-top: 1rem;
}
.wrap{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0 1rem;
    margin-top: 1rem;
}
.card{
    
    min-height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card__img img{
    width: 100%;
}
.card__title{
    font-size: 1.2rem;

}
.card__description{
    font-size: .7rem;
    font-weight: 400;
    color: #354657;

}
.card__btn > input{
    width: 50%;
    padding: .7rem 0;
    border-radius: 50px;
    background-color:white ;
    border: 1px solid #946FD3;
    font-size: .8rem;
    color: #946FD3;
}
.wrap .card:nth-child(4),.wrap .card:nth-child(5),.wrap .card:nth-child(6){
    margin-top: 2.5rem;
}
.card:hover input{
    color: white;
    background-color: #946FD3;
    border-color: white;
    transition: all 0.7s;
    cursor: pointer;
}
.body__contacts{
    margin-top:100px ;
    
}
.body__contacts > header{
    background-color: #F4EFFA;
    background-size:100% ;
    margin: 0 auto;
    width: 100%;
    
}
.container1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 10%;
    margin-right: 10%;
    padding: 1rem 0 ;
}
.container1 a{ 
    color:#354657;
}
.iteam1 img{
    width: 100%;
    height: 100%;
}

.container1 .iteam2{
    display: flex;
    flex-direction: row;
    margin-left: 8%;
    margin-top: 20px;
    font-size: 0.8rem;
    width: 45%;
}
.container1 .iteam2 > div{
    width: 25%;
    text-align: center;
}
.iteam3 {
    display: flex;
    flex-direction: flex-end;
    align-items: stretch;
    width: 15%;
    margin-top: 20px;
    margin-left: 15%;
   
}
.iteam3 > a{
    width: 33%;
    text-align: right;  
}

.iteam4{
    font-size: 0.7rem;
    font-weight: 400;
    color:#626262;
    display: flex;
    flex-direction: row;
    margin-left: 10%;
    margin-top: -10px;
    padding-bottom: 20px;
}
.iteam4 > div{ 
    padding: 0.5%;
}
main{
    margin: 0 auto;
    width: 80%;
}
main .title{
    margin-top: 70px;
    font-size: 1.5rem;
    border-bottom: 1px solid #E2E2E2;
    padding-bottom: .7rem ;
}
/*contacts*/
.contacts{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
    min-height: 400px;
    border: 1px solid violet;
    gap: 0 1rem;
}
.contacts > div:nth-of-type(1){
    background: #F0F2F5;
    height: 100%;
}
.contacts .maps iframe{
    width: 100%;
    height: 100%;
}
.btn1 > input{
    width: 90%;
    height: 50px;
    border-radius: 50px;
    background-color:white ;
    border: 1px solid #946FD3;
    font-size: .8rem;
    color: #946FD3;
}
.btn1:hover input{
    color: white;
    background-color: #946FD3;
    border-color: white;
    transition: all 0.7s;
    cursor: pointer;}
.text_iteam{
    margin-left: 2%;
}
.iteam5,.iteam6,.iteam7,.iteam8 > div{
    display:flex ;
    flex-direction: row;
    margin-top:35px ;
    margin-left: 3%;
    font-size: 1rem;
}
#logo_con img{
    margin-top:2px;
}
#logo_con{
   background-image: url(../img/Ellipse\ 7.png);
   background-repeat: no-repeat;
   background-size: 45px;
    padding: 11px;
    text-align: center;
}
#text_con{
    font-size: 0.8rem;
    font-weight: 400;
    margin-top: 5px;
}
footer{
    margin-top: 100px;
    width: 100%;
    border-top: 1px solid #E2E2E2;
     background-color: #FFFFFF;
}
footer .container{
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 35px 0;
}
.footer__title,.footer__contacts{
    display: flex;
}
.footer__title{
    width: 40%;
    gap: 10%;
    font-size: 0.8rem;  
}
.footer__contacts{
    gap: 10px;
}
@media screen and (max-width: 992px){
    :root{
        font-size:25px
    }
    .wrap{
        grid-template-columns: 1fr;
        gap: 0;
    }
    .card__title,.card__description,.card,.wrap{
        margin: .6rem 0;
    }
    .wrap .card:nth-child(4),.wrap .card:nth-child(5),.wrap .card:nth-child(6){
        margin-top: 0;
    }
    .card__btn > input{
        width: 80%;
    }
    .contacts{
        grid-template-columns: 1fr;
    }
    .container1{
        width: 100%;
        
    }
    .iteam1{
        width: 200px;
    }
    .iteam2{
        margin-left:-10% ;
    }
    .iteam2 > div{  
        font-size: 0.5rem;
    }
    .iteam3{
        margin-top: 10px;
        margin-left: -5%;
        padding: 0 2%;
    }
    .iteam3 > a{
        margin-left: -8%;
    }
   
    .iteam3 a> img{
        width: 15px;
    }
    .iteam4 > div{
        font-size: 0.5rem;
    }
    .iteam4 div > img{
        width: 10px;
       
    }
    footer .container .logo img{
        width: 200px;
    }
    

}