html{
    font-size: 20px;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
}
body{
    margin: 0;
    font-family: 'Oswald', sans-serif;
}
header{
    background-image: url(../img/Rectangle.png);
    background-repeat: no-repeat;
    background-size: 100%;
   
}
.container{
    width: 66%;
    margin: 0 auto;
}
.navigation{
    padding-top: 30px;
}
.burger__menu{
    background-color: #F7654A;
    padding: .5rem .5rem;
    display: inline-block;
    float: right;
    font-size: 1rem;
}
.title,.subtitle {
    color: white; 
    text-align: center;
    text-transform: uppercase;
}
.title{
    width: 70%;
    font-size: 3.2rem;
    font-weight: 500;
    margin-left:17%
}
.subtitle{
    font-weight: 400;
    font-size: .9rem;
    margin-top: 43px;
    margin-bottom: 60px;
    
}
.fon{
      background-color:#F7F7F7;
}
.information{
    font-size: 3.3rem;
    color:#F7654A;
    font-weight: 500;
    overflow: hidden;
    padding-top: 2rem;
    width: 80%;
    margin-left: 10%;
}
.information div{
    float: left;
    width: 25%;
    text-align: center;
}
main{
    margin: 0 auto;
}
main .container1{
   
}
.bloc{
    background-color:#F7F7F7;
    overflow: hidden;
    padding-bottom: 3rem;
    margin-left: 17%;
     width: 66%;
}
.main__information1{
    width: 80%;
    font-size: 1.8rem;
    margin-left: 10%;
}
.main__information1 div{
    float: left;
    width: 25%;
    text-align: center;
    font-weight: 500;
    text-transform: uppercase;
}
.main__information2{
    width: 80%;
    margin-left: 10%;
    color: gray;
    font-size: 1rem;
}
.main__information2 div{
    float: left;
    width: 25%;
    text-align: center; 
}
main .title2{
    color: black;
    font-size: 1.8rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 3rem;
}
.box{
    margin-top: 2.7rem;
    margin-bottom: 1rem;
    width: 66%;
    margin-left: 17%;
    display: flex;
    flex-direction: row ;
    justify-content: space-between;
}
.card{
    width: 30%;
    
}
.img_card img{
    width: 286px;
}
.bloch{
    background: #F7654A;
    width: 55px;
    height: 6px;
    margin-top: 35px;
}
.title_card{
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 15px;
}
.text_card{
    font-size: .8rem;
    font-weight: 400;
    color: #999999;
    margin-top: 20px;
}
footer{
    background:#F7654A;
    width: 100%;
}
footer .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 66%;
    margin-top: 50px;
   
    
}
.container__text{
    padding: 0;
    margin: 30px 0 ;
    color: white;
    font-size: 2.2rem;
    font-weight: 700;
    text-transform: uppercase;
}
.container__text li:nth-child(2){
    font-size: 1.2rem;
   
}
.button{
    background: white;
    width: 100px;
    height: 20px;
    color: black;
    font-size: 0.7rem;
    font-weight: 500;
    padding: 0.5rem 1rem;
    text-align: center;
    cursor: pointer;
    
}
.button div{
    float: left;
   
}
.button a div{
    color: black;
}
.button .icon{
    display: inline-block;
    margin-right: 10px;
}

