
*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 20px;
    
}
body{
    font-family: 'Raleway', sans-serif;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.title{
    margin: 0 auto;
    width: 80%;
    
}
.title h1{
    color: #354657;
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 30px;

}
.title div{
    background: #E2E2E2;
    width: 100%;
    height: 2px;
    margin-top: 18px;
}
main{
    margin-top: 40px;
}
 .container{
    margin: 0 auto;
    width: 80%;
    color:#354657;

    ;
}
.box1{
    float: left;
}
.list1{
    background-color:#F0F2F5;
    position: absolute;
    width: 30%;
}
.list1 >h2{
    
    font-size: 1rem;
    font-weight: 700;
    margin-top: 20px;
    margin-left: 20px;
}
.list1 > p{
 display: inline-block;
 font-size: .8rem;
 font-weight: 400;
 margin-left:20px ;
 margin-top: 15px;
 margin-bottom: 20px ;
}
.list2{
    position: absolute;
    background-color: #F0F2F5;
    width: 30%;
    margin-top: 120px ;
}
.list2 > .sublist1,.sublist2{
    margin: 30px 30px 30px 20px;
}
.list2 h2{
    font-size: 1rem;
    font-weight: 700;
}
.list2 p{
    font-size: 0.7rem;
    margin-top: 20px;
}
.list2 p input{
    margin-top: 10px;
}
.placeholder{
    width: 300px;
    height: 30px;
    padding-top: 4px ;
    padding-left: 20px;
}
.box2{
    float: left;
}
.list3{
    position: absolute;
    background-color: #F0F2F5;
    width: 48%;
    margin-left:32%;
}
.list3 h2{ 
    font-size: 1rem;
    font-weight: 700;
    margin-top: 20px;
    margin-left: 19px;
}
.list3 p{
    display: inline-block;
    font-size: .8rem;
    font-weight: 400;
    margin-left:20px ;
    margin-top: 15px;
    margin-bottom: 20px ;
}

.list4{
    position: absolute;
    background-color: #F0F2F5;
    width: 48%;
    margin-left:32%;
    margin-top: 120px;
}
.list4 h2{ 
    font-size: 1rem;
    font-weight: 700;
    margin-top: 20px;
    margin-left: 19px;
}
.list4 p{
    display: inline-block;
    font-size: .8rem;
    font-weight: 400;
    margin-left:20px ;
    margin-top: 15px;
    margin-bottom: 20px ;
}
.list5{
    position: absolute;
    width: 48%;
    margin-left:32%;
    margin-top: 230px;
}
.list5 h2{
    font-size: 1rem;
    font-weight: 700;
    margin-top: 20px;
    
}
.list5 .basket1 {
    background-color: #F0F2F5;
    width: 100%;
    text-align: center;
    margin-top: 15px;
}
.basket1 li{
    display: inline-block;
    width: 19%;
    text-transform: uppercase;
    font-size: .8rem;
    font-weight: 400;
    margin-top: 13px;
    margin-bottom: 13px;
    color: black;
}
.basket1 li:nth-child(2){
    margin-left: -20px ;
}
.basket1 li:nth-child(4){
    margin-left: -10px ;
}
.basket1 li:nth-child(5){
    margin-left: -10px ;
}
.basket2 li{
    display: inline-block;
    font-weight: 400;
    font-size: 0.7rem;
    text-align: center;
    width: 19%;
    height: 30px;
    margin-top: 10px;
   
}
.img_product{
    background-image: url(../img/image\ 18.png);
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    margin-left: 55%;
}
.product__number{
    width: 25px;
    height: 25px;
    text-align: left;
    float: left;
    margin-left: 15px;
    margin-top: 10px
    ;
}
.col{
    float: left;
    
}
.col2{
    background-color: #946FD3;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    color: white;
    margin-left: 10px;
    margin-top: 12px;
    float: left;
    font-size: 1rem;
   
}
.col3{
    background-color: #F83737;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    color: white;
    float: left;
    margin-left: 10px;
    margin-top: 12px;
    font-size: 1rem;
}
.list6{
    position: absolute;
    margin-left: 52%;
    margin-top: 410px;
    text-transform: uppercase;
    font-size: 0.7rem;
    font-weight: 700;
    width: 28%;
    
}
.list6 > ul:hover{
    width: 100%;
    background:#FAFAFA;
}
.iteam1 li{
    display: inline-block;
}
.iteam2 li{
    display: inline-block;
}
.iteam3 li {
    display: inline-block;
}
.iteam1{
   text-align: right;
   margin-right: 30px;

}
.iteam2{
    text-align: right;
    margin-right: 80px;
}
.iteam3{
  text-align: right;
  margin-right: 30px;
}
.iteam1 > .div1{
    margin-right: 40px;
}
.iteam2 > .div1{
    margin-right: 40px;
}
.iteam3 > .div1{
    margin-right: 40px;
}

.iteam1,.iteam2,.iteam3{
    padding-top: 20px;
}
.list7{
    position: absolute;
    background-color:#F0F2F5;
    width: 45%;
    height: 285px;
    margin-left: 32%;
    margin-top: 600px;
    text-transform: uppercase;
    font-size: 0.7rem;
    
}
.list7{
    text-transform: none;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
}
.list div:nth-child(2){
    font-size: 0.7rem;
    font-weight: 400;
}
.list div:nth-child(2){
    font-size: 0.8rem;
    font-weight: 400;
}
.button > input{
    width: 24%;
    padding: .5rem 0;
    border-radius: 50px;
    background: white;
    border: 1px solid #946FD3;
    color: #946FD3;
    font-size: 0.7rem;
    font-weight: 700;
    margin-left: 72%;
    cursor: pointer;
}
.button:hover> input{
    color: white;
    background: #946FD3;
    border-color: white ;
    transition: all .7s;
}
#comment{
    resize: none;
    font-size: 0.8rem;
}
.comment label{
    font-size: 0.8rem;
    font-weight: 400;
}
input[ type ="radio"]{
    display: none;
}
input[ type ="radio"]+ label > span{
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid #946FD3;
}
input[ type ="radio"]:checked + label > span{
    background-color: #946FD3;
    padding: 3px;
    background-clip: content-box;
    box-sizing: border-box;
}

input[type=checkbox]{
  visibility: hidden;
  position: absolute;
}
input[type=checkbox] + label:before{
  height:12px;
  width:12px;
  margin-right: 2px;
  content: " ";
  display:inline-block;
  vertical-align: baseline;
  border:1px solid #946FD3;
}
input[type=checkbox]:checked + label:before{
  background:#946FD3;
}

