:root{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}
body{
    font-weight: 700;
    color: #354657;
    
}
.container{
    width: 80%;
    padding-bottom: 2rem;
}
.title{
    margin-top: 50px;
    font-size: 1.5rem;
    border-bottom: 1px solid #E2E2E2;
    padding-bottom: 1rem;
}
.row{
    margin-top: 2rem;
}
.my_card{
    border: none;
    margin-left: 0;
    box-sizing: border-box;
}
.card-body{
    padding-left: 0;
}
.card-title{
    font-size: 1.2rem;
}
.card-text{
    font-size: 0.8rem;
    font-weight: 400;
}
.card-img-top{
    transition: all 1s linear;
}
.card-img-top:hover{
    transform: rotateY(180deg);
}

.btn{
    color: #946FD3;
    border: 2px solid #946FD3;
    background-color: white;
    border-radius: 50px;
    width: 70%;
}

.btn:hover{
    border:2px solid white ;
    background-color: #946FD3;
    color: white;
    transition: all 1s; 
}
.card-body:hover {
    color: white;
    background-color: #946FD3; 
    box-sizing: border-box;
    transition: all 1s;
    padding-left: 20px;
}
.my_card:hover .card-img-top{
    transform: rotateY(180deg);
}
.my_card:hover .btn{
    border:2px solid white ;
    background-color: #946FD3;
    color: white; 
    transition: all 1s;
}
.my_card:hover .card-body{
    color: white;
    background-color: #946FD3; 
    box-sizing: border-box;
    transition: all 1s;
    padding-left: 20px;
}
.row >div:nth-child(4),.row >div:nth-child(5),.row >div:nth-child(6){
    margin-top: 50px;
}