:root{
    font-size: 20px;
    color:#354657;
}
a{
    text-decoration: none;
    color:#354657;
}
body{
    font-family: 'Raleway', sans-serif;
    
}
header{
    width: 100%;
}
header .container{
    margin: 0 auto;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1rem;
    
}
header .iteam1{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 5%;
    font-size: 0.8rem;
    gap: 0 15%;
    font-size: 0.8rem;
    font-weight: 700;
}
header .iteam1 > div{
    text-align: center;
}
header .iteam2{
    display: flex;
    flex-direction: flex-end;
    justify-content: right;
    align-items: center;
    width: 15%;
    margin-left: 15%;
    gap: 0 15%;
}
main{
    
}
.container1{
    box-sizing: border-box;
    background-image: url(../img/fon.png);
    background-repeat: no-repeat;
    background-size: 100% 600px;
    padding-top: 150px;
    position: relative;
    animation: container_animation 1.8s linear;
    -webkit-animation: container_animation 1.8s linear;
}
.container1 .box{
    margin: 0 auto;
    width: 70%;
}
.title1{
    font-size: 1.9rem;
    color: white;
    font-weight: 900;
    width: 50%;
}
.subtitle1{
    font-size: 1rem;
    font-weight: 400;
    width: 40%;
    color: white;
    margin-top: 50px;
}
.btn1 input{
    margin-top: 50px;
    color: white;
    border: 2px solid #946FD3;
    background-color: #946FD3;
    border-radius: 50px;
    padding: 0.5rem 1.3rem;
    font-size: .8rem;
    font-weight: 700;
    cursor: pointer;
    margin-bottom: 7rem; 
}
.container2{
    margin: 0 auto;
    width: 70%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 50px;
}
.container_iteam2{
    
}
.img_oil img{
    max-width: 90%;
    margin-left: 10%;
    box-shadow: 14px 13px 1px 1px rgba(240, 229, 255, 1);
}
.title2{
    font-size: 1.8rem;
    font-weight: 700;
}
.text2{
    margin-top: 20px;
    font-size: 0.8rem;
    font-weight: 400;
}
.btn2 input{
    margin-top: 40px;
    color: white;
    border: 2px solid #946FD3;
    background-color: #946FD3;
    border-radius: 50px;
    padding: 0.5rem 1.3rem;
    font-size: .8rem;
    font-weight: 700;
    cursor: pointer;
    margin-bottom: 7rem; 
}
.container3{
    background-color:  #F0E5FF;
    height: 269px;
}
.container_iteam3 {
    display: flex;
    flex-direction: row;
    margin-left: 12%;
  
}
.img_oil1{
    display: flex;
    flex-direction: row;
    width: 30%;
}
.oil_img1 img{
    position: relative;
    top: 13%;

}
.oil_img2 img{
    position: relative;
    right: 39%;
    bottom: 9%;

}
.direction{
    width: 50%;
    margin-top: 40px;
    margin-left: 8%;
}
.direction div:nth-child(1){
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    color:#946FD3;

}
.direction div:nth-child(2){
    font-size: 1.9rem;
    font-weight: 700;
    margin-top: 15px;
    
}
.direction div:nth-child(3) input{
    margin-top: 40px;
    color: white;
    border: 2px solid #946FD3;
    background-color: #946FD3;
    border-radius: 50px;
    padding: 0.5rem 1.3rem;
    font-size: .8rem;
    font-weight: 700;
    cursor: pointer;
    margin-bottom: 7rem; 
}
.container4{
    width: 100%;
    margin-top: 100px;
    
}
.title_container4{ 
    width: 70%;
    margin: 0 auto;
    font-size: 1.8rem;
    font-weight: 700;
    text-align: center;
   
}
.box2{
    width: 70%;
    margin: 0 auto;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    flex-direction: row;
    gap: 0 1%;
}
.card{
    
    margin: 0 auto;
    padding-bottom: 1rem;
}
.card img{
    width: 100%;
}
.card-title{
    text-align: 1.4rem;
    font-weight: 700;
   
}
.card-text{
    font-size: 0.8rem;
    font-weight: 400;
    margin-top: 15px;
} 
.btn_card input{
    margin-top: 30px;
    color: #946FD3;
    border: 2px solid #946FD3;
    background-color: white;
    border-radius: 50px;
    padding: 0.5rem 1rem;
    font-size: .8rem;
    font-weight: 700;
    cursor: pointer;
}
.btn_card input:hover{
    color: white;
    border: 2px solid white;
    background-color: #946FD3;
    transition: all 1s;
}
.card_body:hover{
    background-color: #946FD3;
    color: white;
    transition: all 1s;
    padding-left: 0.5rem;
}
.card:hover .btn_card input{
    color: white;
    border: 2px solid white;
    background-color: #946FD3;
    transition: all 1s;
}
.card:hover {
    background-color: #946FD3;
    color: white;
}
footer{
    border-top: 1px solid #E2E2E2;
    width: 100%;
    margin-top: 100px;
    
}
.conrtainer_footer{
    width: 70%;
    margin-left: 15%;
    margin-top: 0.5rem;
    margin-bottom:0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}
.menu_footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 40%;
    gap: 0 10%;
    font-size: 0.8rem;
    font-weight: 700;
    margin-left: -15%;

}
.contacts_footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    gap: 5%;
}
@media screen and (max-width: 1200px){
    header .container{
        width: 85%;
}
    .container1{
        background-size: 100% 500px;
    }
    .container1 .box{
        width: 85%;
    }

    .container2{
        margin-top: -50px;
    }
    .title1{
        font-size: 1.6rem;
    }
    .subtitle1{
        font-size: 0.8rem;
        margin-top: 2%;
    }
    .btn1 input{
        margin-top: 55px;
        
        margin-bottom: 9rem; 
    }
    .container2{
        margin-top: 10px;
    }
   .container2{
        width: 85%;
        margin-top: -15px;
    }
    .btn2 input{
        margin-top: 10px;}
    .direction{
        margin-left: 15%;
    }
    .container_iteam3{
        margin-left: 5%;
    }
    .oil_img1 img{
       max-height: 80%;
       top: 6%;
    }
    .oil_img2 img{
        max-height: 95%;
        right: 41%;
        bottom: 15%;
    }
    .direction div:nth-child(1){
        font-size: .8rem;
    }
    .direction div:nth-child(2){
        font-size: 1.5rem;
    }
    .title_container4{ 
        font-size: 1.7rem;
    }
    .box2{
        width: 85%;
    }
    .conrtainer_footer{
        width: 85%;
        margin: 0 auto;
    }
    footer{
        margin-top: 70px;
        padding: 10px 0;
    }
   
  
}
@media screen and (max-width: 992px){
    .logo img,.iteam2 > div img {
    width: 80%;
}
    header .iteam1{
        margin-left: -10%;
        font-size: 0.6rem;
    }
    .container1{
        background-size: 100% 80%;
    }
    .container1 .box{
        margin-top: -30px;
    }

    .container2{
        margin-top: -50px;

    }
    .title1{
        font-size: 1.2rem;
    }
    .subtitle1{
        font-size: 0.5rem;
        margin-top: 2%;
    }
    .btn1 input{
        margin-top: 35px;
        padding: 0.4rem .8rem;
        font-size: .6rem;
    }
    .container3{
       
        height: 200px;
    }
    .title2{
        font-size: 1.3rem;
    }
    .text2{
        font-size: 0.7rem;
    }
    .btn2 input{
        margin-top: 10px;
        padding: 0.4rem .8rem;
        font-size: .6rem;
    }
    .oil_img1 img{
        max-height: 70%;
        top: 1%;
     }
     .oil_img2 img{
         max-height: 85%;
         bottom: 19%;
     }
     .direction div:nth-child(3) input{
         margin-top: 20px;
         padding: 0.4rem .8rem;
         font-size: .6rem;  
     }
     .direction div:nth-child(2){
        font-size: 1.3rem;
    }
    .direction{
        margin-left: 20%;
        margin-top: 20px;
    }
    .logo_footer img,.contacts_footer > div img {
        width: 80%;
    }
    .menu_footer{
        font-size: 0.6rem;
    }
    footer{
        margin-top: 40px;
    }
    .card-title{
        text-align: 1.2rem;
       
    }
    .card-text{
        font-size: 0.7rem;
    } 
    .btn_card input{
        font-size: .6rem;
    }
    
}
@media screen and (max-width: 800px){
    header .iteam2{
        gap: 0 5%;
    }  
    header .iteam1{
        gap: 0 10%;
        margin-left: -2%;
    }
    .box2{
        grid-template-columns: 1fr;
    }
    .direction div:nth-child(1){
        font-size: 0.6rem;
    }
    .direction div:nth-child(2){
        font-size: 1rem;
    }
    .card{
        margin-bottom: 20px;
    }
    .card-title{
        margin-top: 10px;
    }
    .btn_card input{
        padding: .5rem 5rem;
        font-size: .8rem;
    }
    .menu_footer{
        margin-left: -7%;
    } 
}
@keyframes container_animation{
    from {left: -100%;}
    50%{
        left: -50%;
    }
    to{
        left: 0%;
    }
}

