* {
    margin: 0;
    padding: 0;
 }
 html{
    font-family: 'Courier Prime', monospace;
 }
a{
    text-decoration: none;
}
li{
    list-style: none;
}
body{
   width: 100%;
   height: 1282px;
   font-size: 20px;
}
.title_Ramda{ 
    font-size: 4rem;
    color: rgba(0, 0, 0, 255);
    text-align: left;
    margin-left: 101px;
    margin-top: 61px;
    font-weight: 700;
}
.title_Ramda span{
    color: #4bcaff;
}
.header{
    width: 100%;

}   
.header__nav{
    width: 1280px ;
    height: 69px;
    background-color:#35444f ;
    margin: 45px 100px;  
}
.header__nav li{ 
    display: inline-block;
    width: 23%;
    text-align: center;
 
}
.header__nav a{
    color: white;
    display: inline-block;
    width: 100%;
    padding: 1.5rem;
    font-weight: 700;
    font-size: 1.3rem;
}
.header__nav a:hover{
    background: #222f3a;
    border-left: 1px solid;
    border-right: 1px solid;
    border-color: #818181;
    transition: all 0.7s;
  
}
.container{
    display: block;
}
.container .footer__box-list{
    display: list-item;
}
.container__box{
    margin: 11px 100px;
    display: inline-block;
    width: 100%;
   
}
.menu{
    border: 1px solid black;
    width: 22%;
    float: left;
    
}
.menu__nav li{
    padding: 1rem 0;
}
.menu__nav a{
    color: black;
    font-weight: 400;
    padding-left: 1rem;
    font-size: 1.5rem;
    display: inline-block;
}
.menu__nav li:hover{
    background: #dbdbdb;
    transition: all 0.7s;
    padding-left: 2rem;
    font-weight: 700;
    box-sizing: border-box;
}
.box_img{
    width: 55.5%;
    height: 529px;
    border: 1px solid black;
    float: left;
    margin-left: 48px;
}
.box_img img{
   margin: 75px 268px 73px 297px;
 
}
.text1{
    width: 900px;
    height: 114px;
    font-size: 1.3rem;
    margin: 30px 0px 0px 500px ;
    font-family: 'Times New Roman', Times, serif;
}
.text2{
    width: 880px;
    height: 114px;
    font-size: 1.3rem;
    margin: 30px 0px 0px 500px;
    font-family: 'Times New Roman', Times, serif;
}
.footer{
    width: 1280px ;
    height: 69px ;
    background-color: #b4b7ba;
    margin: 51px 0px 0px 100px;
    display: inline-block;

}
.footer__box{
    display: inline-block;
    color: black;
}
.footer__box-list{
    display: inline-block;
    font-size: 1.4rem;
    padding: 1.5rem;
}
.footer__box-list a{
    color: black;
}
.footer__box-list a:hover{
    color: dodgerblue;
    text-decoration: underline;
    
}
.footer__box-list:nth-child(7){
  font-size: 1.1rem;
}

