html{
     font-size: 20px;
}
body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.header{
    background-color: white;
    background-size: cover;
    box-shadow: 1px 1px 10px gray;
   
}
.header__nav {
    list-style: none;
    width: 60%;
    margin: auto;
    padding: 0;
}
.header a{
    color: #16a085;
    text-decoration: none;
    width: 100%;
    display: inline-block;
    padding: 1.5rem;
}
.header__nav-item{
    display: inline-block;
    width: 24%;
    font-size: .9rem;
    text-transform: uppercase;
    text-align: center;
}
.container{
    
}
.image img{
    width: 100%;
    height: 790px;
}
.fon{
    width: 100%;
    height: 790px;
    background-color: rgba(90, 27, 27, 0.233);
    position: absolute;
    top: 81px;
}
.content{
    text-align: center;
    background-color: rgba(77, 75, 75, 0.068);
    display: inline-block;
    width: 100%;
    height: 600px;
    margin: -5px 0px 0px 0px;
    
}
.content__title {
    font-size: 1.1rem;
    text-transform: uppercase;
    margin: 49px auto 0px auto;
    
}
.content__text{
    width: 1059px;
    height: 354px;
    font-size: .8rem;
    margin: 34px auto 0px auto;
    letter-spacing: 2px;
}
.content__text p{
  
  
}
.content__GetStarted{
    width: 200px;
    height: 52px;
    background-color: #16a085;
    display: inline-block;
    margin: -10px auto;
    border-radius: 5px;
}
.content__GetStarted a{
    color: white;
    font-size: 0.8rem;
    text-align: center;
    display: inline-block;
    margin: 18px 45px 19px 43px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
}
.footer{
    width: 100%;
    display: inline-block;
    margin: 20px;
}
.footer span{
    width: 100%;
    font-size: .7rem;
    display: inline-block;
    letter-spacing: 2px;
    margin-left: 70%;
    margin-top: 27px;
    
}
